/* ## Language Selector */
#Lang {
    /* Transform */
    position: absolute;
    transform: translateY(2em);
    margin-left: 10vw;
    z-index: 100;
}

#Lang button {
    /* Font */
    font-family: var(--txt1);
    font-style: normal;
    font-size: 14pt;
    text-align: start;
    
    /* Button */
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    
    /* Color */
    color: var(--clr4);
    
    /* Transform */
    min-width: 10ch;
}

.underlined {
    font-weight: 700;
}

/* ## Mobile */
@media only screen and (max-width: 1280px) and (max-height: 2560px) {
    #Lang {
        /* Transform */
        transform: translate(-35vw, 1em);
    }

    #Lang button {
        /* Font */
        font-size: 12pt;
    }
}
