/* Variables */
:root {
    /* Color Variables */
    --clr0: #e8e8db;
    --clr1: #b6b5a8;
    --clr2: #858377;
    --clr3: #636057;
    --clr4: #494846;
    
    /* Font Variables */
    --txt0: 'Cinzel', 'Times New Roman', serif;
    --txt1: 'Frank Ruhl Libre', 'Times New Roman', serif;

    /* Font Sizes Desktop */
    --h1: 54pt;
    --h2: 32pt;
    --p: 20pt;
    
    /* Font Sizes Mobile */
    --h1m: 24pt;
    --pm: 16pt;
    
    /* Animation Speeds */
    --anim0: 200ms;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    /* Smooth Site Scrolling */
    scroll-behavior: smooth;
}
