/* ## Projects */
#Projects {
    /* Display */
    display: flex;
    flex-direction: column;
    gap: 10em;

    /* Transform */
    min-width: 100%;
    min-height: 100vh;
}

#Gallery {
    /* Display */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5em;
    row-gap: 7.5em;
}

@media only screen and (max-width: 1280px) and (max-height: 2560px) {
    #Gallery {
        /* Display */
        display: block;
    }
}
